.main__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 80vh;

  background-image: url("../assets/bg-dash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.admin-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  width: 70%;
}

.admin-options > li {
  width: 100%;
  height: 200px;
  padding: 20px;

  color: var(--color-white);

  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius-0);
  background-color: var(--color-black-op);
  backdrop-filter: blur(5px);

  cursor: pointer;
}

.admin-options > li > a:hover {
  color: var(--light-blue);

  transition: 0.5s;
}

.admin-options > li > a {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

  height: 100%;
}

.admin-options > li > a > i {
  position: absolute;
  top: 20px;
  right: 10px;
}

.not-admin-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  width: 50%;
  height: 90%;
}

.not-admin-info {
  width: 100%;
  min-height: 30%;
  padding: 10px;

  background-color: var(--color-black-op);

  color: var(--color-white);
  text-align: center;

  border-radius: var(--border-radius-0);
}

.not-admin-user__data {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 10px;

  text-align: start;
}

.coWorkers {
  display: flex;
  align-items: center;
  gap: var(--gap-1);

  width: 100%;
  height: fit-content;
  padding: 10px;

  overflow-x: auto;

  text-align: center;
}

.coWorkers::-webkit-scrollbar {
  background-color: var(--dark-blue);
  height: 5px;
  border-radius: var(--border-radius-0);
}

.coWorkers::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: var(--border-radius-0);
}

.coWorkers > h3 {
  width: 100%;
}

.coWorkers > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 180px;
  height: 130px;
  padding: 10px;

  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius-0);
}

.companieDepartments {
  display: flex;
  align-items: center;
  gap: var(--gap-1);

  width: 100%;
  height: fit-content;
  padding: 10px;

  overflow-x: auto;

  text-align: center;
}

.companieDepartments::-webkit-scrollbar {
  background-color: var(--dark-blue);
  height: 5px;
  border-radius: var(--border-radius-0);
}

.companieDepartments::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: var(--border-radius-0);
}

.companieDepartments > h3 {
  width: 100%;
}

.department-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-width: 250px;
  height: 130px;
  padding: 10px;

  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius-0);
}

.bg__modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(10px);
}

.content__modal {
  position: relative;

  width: 50%;
  height: 50%;
  padding: 32px;

  background-color: var(--color-black);

  border-radius: var(--border-radius-0);
}

.update_user_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-5);

  width: 100%;
  height: 80%;
  padding: 10px;

  color: var(--color-white);
  text-align: center;
}

.update_user_form > div {
  width: 80%;
}

@media (max-width: 1010px) {
  .description {
    display: none;
  }
}

@media (max-width: 780px) {
  .admin-options {
    grid-template-columns: 1fr;
    gap: 32px;

    width: 70%;
    height: 80%;
    padding: 20px;

    overflow-y: auto;
  }

  .not-admin-user {
    width: 90%;
  }

  .content__modal {
    width: 90%;
  }
}

@media (max-width: 490px) {
  .admin-options > li {
    height: 250px;
  }

  .admin-options > li > div > i {
    position: absolute;
    left: 45%;
  }

  .admin-options > li > div > h3 {
    display: none;
  }

  .not-admin-user {
    gap: var(--gap-0);

    height: 95%;
  }

  .not-admin-info {
    min-height: 33%;
  }
}

@media (max-width: 390px) {
  .user-info > span {
    display: none;
  }

  .admin-options > li > a > h3 {
    display: none;
  }

  .admin-options > li > a > i {
    left: 45%;
  }
}
