.main__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  height: 80vh;

  background-image: url("../assets/bg-dash.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-0);

  width: 80%;
  height: 80%;

  background-color: var(--color-black-op);
  border-radius: var(--border-radius-0);

  color: var(--color-white);
}

.users__options {
  display: flex;
  gap: var(--gap-5);
}

.users__status {
  display: flex;
  flex-direction: column;
  gap: var(--gap-0);

  text-align: center;
}

.users__ul {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5);

  width: 80%;
  height: 80%;
  padding: 32px;

  overflow-y: auto;

  color: var(--color-white);
}

.users__ul::-webkit-scrollbar {
  background-color: var(--dark-blue);
  width: 5px;
  border-radius: var(--border-radius-0);
}

.users__ul::-webkit-scrollbar-thumb {
  background-color: var(--primary-blue);
  border-radius: var(--border-radius-0);
}

.users__ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 80%;
  height: 200px;
  padding: 20px;

  border: 1px solid var(--light-blue);
  border-radius: var(--border-radius-0);
  color: var(--color-white);

  background-color: var(--color-black-op);
}

.divUserStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5);

  width: 50%;
  height: 80%;
}

.divHandleUser {
  width: 100%;

  text-align: end;
}

.divHandleUser > button {
  margin-left: 20px;

  background-color: transparent;

  color: var(--color-white);
  opacity: 0.5;

  cursor: pointer;
}

.divHandleUser > button:hover {
  transition: 0.5s;

  opacity: 1;
}

.form__hireWorker {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-1);

  width: 50%;
}

.form__hireWorker > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__hireWorker > div > select {
  height: 1.8rem;
  width: 98%;
  padding: 0 5px;

  border-radius: var(--border-radius-0);
  color: var(--dark-blue);
}

.close-hire-form {
  position: absolute;
  right: -10px;
  top: -15px;
}

@media (max-width: 630px) {
  .users {
    width: 90%;
  }

  .users__ul {
    min-width: 90%;
    padding: 10px;
  }

  .users__ul > li {
    min-width: 100%;
  }
}
